<style>
header object{
    width: 100% !important;
    height:62px;/*recuadro de relleno*/
    /*position:fixed;*/
    top: 0px;
    bottom: -300px;
    background-color:"blue";
    z-index: 100;*/
}


.framei{
   /* position:sticky;*/
    box-sizing: content-box;
width: 100%;
    
  
}
footer object{
    width: 100% !important;
height:340 px;
    position:fixed;
bottom: -102px;
z-index: 12;
}
.contenido{
    padding-top: 10px;
}
.contenido h1{
    padding-left:20px;
 
    font-size: 200px;
      
}
</style>
