header object{
    width: 100% !important;
    height:97px;/*recuadro de relleno*/
    position:fixed;
    top: 0px;
    bottom: -300px;
    background-color:"transparent";
    z-index: 100;

}

body{

}

footer object{
    width: 100% !important;
height:340 px;
    position:fixed;
bottom: -102px;
z-index: 12;
}
.contenido{
    padding-top: 70px;
  
}
.contenido h1{

 margin-left: 30px;
    font-size: 90px;
      
}


.contenido h2{

 line-height : 25px;
    font-size: 25px;
      
}


