header object{
    width: 100% !important;
    height:97px;/*recuadro de relleno*/
    position:fixed;
    top: 0px;
    bottom: -300px;
    background-color:"transparent";
    z-index: 100;

}

body{

}

footer object{
    width: 100% !important;
height:340 px;
    position:fixed;
bottom: -102px;
z-index: 12;
}
.contenido{
    padding-top: 90px;
  
}
.contenido h1{
  text-align: center;

 margin-left: 30px;
    font-size: 90px;
       margin-right: 30px;
}


.contenido h2{
margin-left: 30px;
 line-height : 1.6;
    font-size: 25px;
       margin-right: 30px;
    text-aling:justify;
}


p{
    margin-left: 30px;
     margin-right: 30px;
   text-align: center;
   color: #0d2f65;
    font-size: 30px;
     font-weight: bold;
}
