<style>

html{
    scroll-behavior: smooth;
 

}



a{

    border: 0px solid red;
    color: white !important;
 text-decoration:none!important;

}



.bg-light{
/* background-color: #221465 !important;*/
   background: rgb(34,20,101);
background: linear-gradient(24deg, rgba(34,20,101,1) 2%, rgba(67,19,144,1) 48%, rgba(26,60,144,1) 87%)!important;
    --bs-bg-opacity: 0 !important;
}

html, 
body {
    height: 100%;
}
    header{
          position: sticky;
        top: 0px;
        z-index: 1;
        background-color: #221465 !important;
        
        }
        

    
        .caret{
            color: transparent;
        }
        
 
    
        .selectpicker{
          background-color: white;
          float: right;
        }
        
        header .navbar::before{
          content:none;
        }
        .fa:hover{
          opacity: 0.7;
          text-decoration: none;
        
        }
        .fa {
          padding: 10px;
          font-size: 10px;
          text-decoration: none;
        }
        
        .fa-linkedin {
          background: #007bb5;
          color: white;
        }
        
        ul{
            list-style-type: none;
            display: inline-block;
               text-decoration:none;
            color:white; 
        }
li{
    text-decoration:none;
}
        
        ul li {
            display: inline-block;
            text-decoration:none;
        }
        
        
        .fa-whatsapp {
          background: rgb(33, 237, 33);
          color: white;
        }
        
        
        .fa-github {
          background: black;
          color: white;
        }
        
        
        .fa-envelope {
          background: rgb(105, 3, 160);
          color: rgb(255, 255, 255);
        }
        
        
        .fa-instagram {
          background: rgb(223, 33, 166);
          color: rgb(255, 255, 255);
        }
     </style>
